<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.makino.harutiro.resito2">
    <!-- パーミッション -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- カメラ関係 -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".RealmMemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ReceCame"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Resito2">
        <activity android:name=".setting.saihu.SaihuInput"></activity>
        <activity android:name=".setting.saihu.SaihuSetting" /> <!-- 追加部分 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider> <!-- ここまで -->
        <activity android:name=".input.inputPageNedan" />
        <activity android:name=".input.TestInput" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>